# __pycache__, środowiska
__pycache__/
*.py[cod]
.venv/
env/
.venv*/

# dane duże:
data/ # jeśli trzymasz surowe duże pliki, rozważ Git LFS zamiast ignore

# pliki systemowe
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter checkpoints
**/.ipynb_checkpoints
notebooks/HH_model.ipynb
notebooks/ModelNeuralCell_prototype.ipynb
notebooks/plotly_test.ipynb
*.code-workspace
notebooks/JR-ModelNeuralCell_prototype.ipynb
notebooks/JR-ModelNeuralCell_prototype.ipynb
notebooks/JR-ModelNeuralCell_prototype.ipynb
